<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     -->
    <title>Cycles</title>
    <style>
        .completed {
            background: #095138;
            color: #fff;
        }

        .buy {
            background: #4a0a41;
            color: #fff;
        }

        .sell {
            background: #785a0c;
            color: #fff;
        }
    </style>
</head>
<body class="bg-gray-900">

<section class="bg-gray-900 py-2">
    <div class="mx-auto px-6">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <dl class="mt-2 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-6">
                <div class="flex flex-col bg-white/5 p-4">
                    <dt class="text-sm font-semibold leading-6 text-gray-300">Cycles completed</dt>
                    <dd class="order-first text-xl font-semibold tracking-tight text-white">{{ .cyclesCompleted }}/{{ .cyclesCount }}</dd>
                </div>
                <div class="flex flex-col bg-white/5 p-4">
                    <dt class="text-sm font-semibold leading-6 text-gray-300">Balance BTC</dt>
                    <dd class="order-first text-xl font-semibold tracking-tight text-white">{{ printf "%.6f" 0.00487 }} BTC</dd>
                </div>
                <div class="flex flex-col bg-white/5 p-4">
                    <dt class="text-sm font-semibold leading-6 text-gray-300">BTC Price
                        <span class="text-xs mx-6">10:23</span>
                    </dt>
                    <dd class="order-first text-xl font-semibold tracking-tight text-white">
                        104254.25
                    </dd>
                </div>
                <div class="flex flex-col bg-white/5 p-4">
                    <dt class="text-sm font-semibold leading-6 text-gray-300">Total Buy</dt>
                    <dd class="order-first text-xl font-semibold tracking-tight text-white">{{ printf "%.2f" .totalBuy }} $</dd>
                </div>
                <div class="flex flex-col bg-white/5 p-4">
                    <dt class="text-sm font-semibold leading-6 text-gray-300">Total Sell</dt>
                    <dd class="order-first text-xl font-semibold tracking-tight text-white">{{ printf "%.2f" .totalSell }} $</dd>
                </div>
                <div class="flex flex-col bg-white/5 p-4">
                    <dt class="text-sm font-semibold leading-6 text-gray-300">Gain $</dt>
                    <dd class="order-first text-xl font-semibold tracking-tight text-white">{{ printf "%.2f" .totalProfit }}  $</dd>
                </div>
            </dl>
        </div>
    </div>
</section>
<section class="container px-4 mx-auto">
    <div class="-mx-4 -my-2 overflow-x-auto">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
            <div class="mb-4">
                <label for="statusFilter" class="text-white mr-2">Filter:</label>
                <select id="statusFilter" class="w-72 p-1 rounded bg-gray-800 text-white border border-gray-600">
                    <option value="all">All</option>
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                    <option value="completed">Completed</option>
                </select>
            </div>

            <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                    <thead class="bg-gray-50 dark:bg-gray-800">
                    <tr>
                        <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Id
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Exchange
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Status
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Quantity
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Buy Price
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Sell Price
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Gain %
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Gain $
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Buy Id
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Sell Id
                        </th>
                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Offsets
                        </th>
                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            BTC Price
                        </th>
                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Percent
                        </th>
                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            USD dedicated
                        </th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                    {{ range .cycles }}
                    <tr class="{{ .Status }}">
                        <td class="px-4 py-4 text-xs text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .Id }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .Exchange }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .Status }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ printf "%.8f" .Quantity }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ printf "%.6f" .Buy.Price }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ printf "%.6f" .Sell.Price }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ printf "%.2f" .CalcPercent }}%</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ printf "%.2f" .CalcProfit }}</td>
                        <td class="px-4 py-4 text-xs text-gray-100 dark:text-gray-300 whitespace-nowrap">
                            {{ if .Buy.ID }}
                            <button
                                    class="bg-blue-500 active:bg-blue-800 hover:bg-blue-700 cursor-pointer text-white text-xs px-2 py-1 rounded transition"
                                    data-id="{{ .Buy.ID }}" data-exchange="{{ .Exchange }}"
                            >
                                {{ .Buy.ID }}
                            </button>
                            {{ end }}
                        </td>
                        <td class="px-4 py-4 text-xs text-gray-100 dark:text-gray-300 whitespace-nowrap">
                            {{ if .Sell.ID }}
                            <button
                                    class="bg-red-500 active:bg-red-800 hover:bg-red-700 cursor-pointer text-white text-xs px-2 py-1 rounded transition"
                                    data-id="{{ .Sell.ID }}" data-exchange="{{ .Exchange }}"
                            >
                                {{ .Sell.ID }}
                            </button>
                            {{ end }}
                        </td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .Buy.Offset }} / {{ .Sell.Offset }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .MetaData.BTCPrice }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .MetaData.Percent }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ printf "%.2f" .MetaData.USDDedicated }}</td>

                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
    document.querySelectorAll('button').forEach(button => {
        button.addEventListener('click', async (event) => {
            const target = event.target

            const orderId = target.dataset.id
            const exchange = target.dataset.exchange

            const response = await fetch('/api/get-order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    orderId,
                    exchange
                })
            })
            if ( ! response.ok) {
                console.log('error server')
            }

            const data = await response.json()
            Swal.fire({
                title: 'Order Info',
                html: `<pre style="text-align: left; font-size: 14px;">${JSON.stringify(data, null, 4)}</pre>`,
                confirmButtonText: 'Close',
                width: 600
            })
        })
    })

    // Filter
    const filterSelect = document.getElementById('statusFilter')
    const rows = document.querySelectorAll('tbody tr')

    filterSelect.addEventListener('change', () => {
        const selected = filterSelect.value

        rows.forEach(row => {
            const hasClass = row.classList.contains(selected)
            if (selected === 'all' || hasClass) {
                row.style.display = ''
            } else {
                row.style.display = 'none'
            }
        })
    })

    // Counts
    const counts = {
        buy: 0,
        sell: 0,
        completed: 0,
        total: 0
    }
    rows.forEach(row => {
        const status = row.classList[0]
        counts[status]++
        counts.total++
    })

    document.querySelector('option[value="all"]').innerText = `All (${counts.total})`
    document.querySelector('option[value="buy"]').innerText = `Buy (${counts.buy})`
    document.querySelector('option[value="sell"]').innerText = `Sell (${counts.sell})`
    document.querySelector('option[value="completed"]').innerText = `Completed (${counts.completed})`
</script>

</body>
</html>