<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Cycles</title>
    <style>
        .completed {
            background: #095138;
            color: #fff;
        }

        .buy {
            background: #4a0a41;
            color: #fff;
        }

        .sell {
            background: #785a0c;
            color: #fff;
        }
    </style>
</head>
<body class="bg-gray-900">
<section class="bg-gray-900 py-2">
    <div class="mx-auto max-w-7xl px-6">
        <div class="mx-auto max-w-2xl lg:max-w-none">

            <dl class="mt-2 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-5">
                <div class="flex flex-col bg-white/5 p-4">
                    <dt class="text-sm font-semibold leading-6 text-gray-300">Cycles completed</dt>
                    <dd class="order-first text-xl font-semibold tracking-tight text-white">{{ .cyclesCompleted }}/{{ .cyclesCount }}</dd>
                </div>
                <div class="flex flex-col bg-white/5 p-4">
                    <dt class="text-sm font-semibold leading-6 text-gray-300">Total Buy</dt>
                    <dd class="order-first text-xl font-semibold tracking-tight text-white">{{ printf "%.2f" .totalBuy }} $</dd>
                </div>
                <div class="flex flex-col bg-white/5 p-4">
                    <dt class="text-sm font-semibold leading-6 text-gray-300">Total Sell</dt>
                    <dd class="order-first text-xl font-semibold tracking-tight text-white">{{ printf "%.2f" .totalSell }} $</dd>
                </div>
                <div class="flex flex-col bg-white/5 p-4">
                    <dt class="text-sm font-semibold leading-6 text-gray-300">Gain %</dt>
                    <dd class="order-first text-xl font-semibold tracking-tight text-white">{{ printf "%.2f" .percent }} %</dd>
                </div>
                <div class="flex flex-col bg-white/5 p-4">
                    <dt class="text-sm font-semibold leading-6 text-gray-300">Gain $</dt>
                    <dd class="order-first text-xl font-semibold tracking-tight text-white">{{ printf "%.2f" .gainAbs }}  $</dd>
                </div>
            </dl>
        </div>
    </div>
</section>
<section class="container px-4 mx-auto">
    <div class="-mx-4 -my-2 overflow-x-auto">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">

            <div class="mb-4">
                <label for="statusFilter" class="text-white mr-2">Filter:</label>
                <select id="statusFilter" class="w-72 p-1 rounded bg-gray-800 text-white border border-gray-600">
                    <option value="all">All</option>
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                    <option value="completed">Completed</option>
                </select>
            </div>

            <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                    <thead class="bg-gray-50 dark:bg-gray-800">
                    <tr>
                        <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Id
                        </th>


                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Exchange
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Status
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Quantity
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Buy Price
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Sell Price
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Gain %
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Gain $
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Buy Id
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            Sell Id
                        </th>

                        <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            UUID
                        </th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                    {{ range .Cycles }}
                    <tr class="{{ .status }}">
                        <td class="px-4 py-4 text-xs text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .idInt }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .exchange }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .status }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .quantity }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .buyPrice }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .sellPrice }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .change }}</td>
                        <td class="px-4 py-4 text-sm text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ .gainUSD }}</td>
                        <td class="px-4 py-4 text-xs text-gray-100 dark:text-gray-300 whitespace-nowrap">
                            {{ if .buyId }}
                            <button
                                    class="bg-blue-500 active:bg-blue-800 hover:bg-blue-700 cursor-pointer text-white text-xs px-2 py-1 rounded transition"
                                    data-id="{{ .buyId }}" data-exchange="{{ .exchange }}"
                            >
                                {{ .buyId }}
                            </button>
                            {{ end }}
                        </td>
                        <td class="px-4 py-4 text-xs text-gray-100 dark:text-gray-300 whitespace-nowrap">
                            {{ if .sellId }}
                            <button
                                    class="bg-red-500 active:bg-red-800 hover:bg-red-700 cursor-pointer text-white text-xs px-2 py-1 rounded transition"
                                    data-id="{{ .sellId }}" data-exchange="{{ .exchange }}"
                            >
                                {{ .sellId }}
                            </button>
                            {{ end }}
                        </td>
                        <td class="px-4 py-4 text-xs text-gray-100 dark:text-gray-300 whitespace-nowrap">{{ ._id }}</td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
<script>
    document.querySelectorAll('button').forEach(button => {
        button.addEventListener('click', async (event) => {
            const target = event.target

            const orderId = target.dataset.id
            const exchange = target.dataset.exchange

            const response = await fetch('/api/get-order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    orderId,
                    exchange
                })
            })
            if ( ! response.ok) {
                console.log('error server')
            }

            const data = await response.json()
            Swal.fire({
                title: 'Order Info',
                html: `<pre style="text-align: left; font-size: 14px;">${JSON.stringify(data, null, 4)}</pre>`,
                confirmButtonText: 'Close',
                width: 600
            })
        })
    })

    // Filter
    const filterSelect = document.getElementById('statusFilter')
    const rows = document.querySelectorAll('tbody tr')

    filterSelect.addEventListener('change', () => {
        const selected = filterSelect.value

        rows.forEach(row => {
            const hasClass = row.classList.contains(selected)
            if (selected === 'all' || hasClass) {
                row.style.display = ''
            } else {
                row.style.display = 'none'
            }
        })
    })

    // Counts
    const counts = {
        buy: 0,
        sell: 0,
        completed: 0,
        total: 0
    }
    rows.forEach(row => {
        const status = row.classList[0]
        counts[status]++
        counts.total++
    })

    document.querySelector('option[value="all"]').innerText = `All (${counts.total})`
    document.querySelector('option[value="buy"]').innerText = `Buy (${counts.buy})`
    document.querySelector('option[value="sell"]').innerText = `Sell (${counts.sell})`
    document.querySelector('option[value="completed"]').innerText = `Completed (${counts.completed})`
</script>
</body>
</html>